<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AWS Project</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="homeCtrl">
  <h1>PrivateSector</h1>
  <tr>
    <td>
        <input type="text" placeholder="Location" ng-model="location">
    </td>
    <td>  
        <input type="text" placeholder="County" ng-model="county">
    </td>
    <td>  
        <button type="button" ng-click="find()">Search</button>
    </td>
  </tr>
  <p>{{result}}</p>
  <div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script>
    var app = angular.module('myApp', []);
    app.controller('homeCtrl', function($scope, $http) {
      $scope.find = function() {
        console.log($scope.location + " " + $scope.county);
        $http({
          method: "GET",
          url: "http://localhost:8080/aws/sparql/test?location=" + $scope.location + "&county=" + $scope.county
        }).then(function onSuccess(response) {
          $scope.result = "Success";
          console.log(response.data);
        });
      }  
    });
  </script>
</body>
</html>
